<br>

Nombre {{input type="text" value=subject placeholder="Enter your subject"}}
Subject {{input type="text" value=name placeholder="Enter your name"}}

Subject {{input type="textarea" value=content placeholder="Enter your ideas"}}

<button {{action "submit"}}>Enviar</button>

{{outlet}}
