<img src="{{pienso.logo}}" alt="Logo no disponible">
<table>
    <thead><th>Marca</th><th>Modelo</th><th>Precio</th></thead>
    <tr>
        <td>
          {{pienso.marca}}
        </td>
        <td>
          {{pienso.modelo}}
        </td>
        <td>
          {{pienso.precio}}
        </td>
    </tr>
</table>

<br>
<br>
{{outlet}}
