<br>
<h3>Piensos disponibles:</h3>
<br>
<img src="{{model.logo}}" alt="Logo no disponible">

<table class="table">
    <thead><th>Marca</th><th>Modelo</th><th>Peso</th><th>Precio</th><th>Descripción</th><th>F.Caducidad</th></thead>
      <tr>
        <td>
          {{model.marca}}
        </td>
        <td>
          {{model.modelo}}
        </td>
        <td>
          {{model.peso}}
        </td>
        <td>
          {{model.precio}}
        </td>
        <td>
          {{model.descripcion}}
        </td>
        <td>
          {{model.fCaducidad}}
        </td>
      </tr>
</table>

<br>
<br>

{{outlet}}
