<br>
<h3>Características del pienso:</h3>
<br>
<img src="{{pienso.logo}}" alt="Logo no disponible">
<table class="table">
    <thead><th>Marca</th><th>Modelo</th><th>Peso</th><th>Precio</th><th>Descripción</th><th>F.Caducidad</th></thead>

      {{#each pienso key="id" as |p|}}
      <tr>
        <td>
          {{p.marca}}
        </td>
        <td>
          {{pienso.modelo}}
        </td>
        <td>
          {{peso}}
        </td>
        <td>
          {{p}}
        </td>
        <td>
          {{pienso.descripcion}}
        </td>
        <td>
          {{pienso.fCaducidad}}
        </td>
      </tr>
    {{/each}}

</table>

<br>
<br>
{{outlet}}
