<br>
<h3>Piensos disponibles:</h3>
<br>
<!--<img src="{{pienso.logo}}" alt="Logo no disponible">-->

<table class="table">
    <thead><th>Marca</th><th>Modelo</th><th>Peso</th><th>Precio</th><th>Descripción</th><th>F.Caducidad</th></thead>
    {{#each model as |pienso|}}
    <tr>
        <td>
          {{pienso.marca}}
        </td>
        <td>
          {{pienso.modelo}}
        </td>
        <td>
          {{pienso.peso}}
        </td>
        <td>
          {{pienso.precio}}
        </td>
        <td>
          {{pienso.descripcion}}
        </td>
        <td>
          {{date-format pienso.fCaducidad}}
        </td>
        <td>
            <li>{{#link-to "show" pienso.id }}<i class="fa fa-hand-peace-o"></i>Mostrar{{/link-to}}</li>
        </td>
        <td>
            <li>{{#link-to "add"}}<i class="fa fa-hand-peace-o"></i>Añadir{{/link-to}}</li>
        </td>
        <td>
            <li>{{#link-to "edit" pienso.id}}<i class="fa fa-hand-peace-o"></i>Editar{{/link-to}}</li>
        </td>
        <td>
            <li>{{#link-to "remove"}}<i class="fa fa-hand-peace-o"></i>Borrar{{/link-to}}</li>
        </td>
    </tr>
    {{/each}}
</table>

<br>
<br>

{{outlet}}
